<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ site.baseurl }}/">Functional Class Review</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- <ul class="nav navbar-nav">
      <li class="about"><a href="{{ site.baseurl }}/about">About</a></li>
      <li class="data"><a href="{{ site.baseurl }}/data">Data</a></li>
      <li class="dropdown explore">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/explore/pivot"><span class="glyphicon glyphicon-list-alt"></span> Pivot Table</a></li>
          <li><a href="{{ site.baseurl }}/explore/viz"><span class="glyphicon glyphicon-dashboard"></span> Visualizations</a></li>
          <li><a href="{{ site.baseurl }}/explore/map"><span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
          <li class="divider"></li>
          <li><a href="http://atlantaregional.com/about-us/regional-data-and-tools"><span class="glyphicon glyphicon-search"></span> Other ARC data</a></li>
        </ul>
      </li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li style="position:relative; top:10px; left:10px;">
        <span>
          <span id="welcome-message" style="display:none;"></span><button id="gh-login" class="btn btn-success" data-loading-text="Logging in..." title="Log in with GitHub">Log in</button>
          <a href="https://github.com/{{ site.githubuser }}/fc-review/" class="btn btn-default"  title="View on GitHub"><img id="gh" src="{{ site.baseurl }}/lib/images/gh.svg"></a>
        </span>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</div>
<script type="text/javascript">
function checkTeams(){
  // for loop to check which team this guy is a part of
    $.each(teams, function (i, team){
      $.get("https://api.github.com/teams/" + team.id + "/members/"+$.cookie('user').login+"?access_token="+$.cookie('token'), function(data, status){
        // if a part of county X, make X streets editable on the map for them.
        console.log(status + " for " + team.name)
        if (status === "success"){
          drawGeoJSON(team.name);
        }
      })
    })
}
  $.cookie.json = true;

  // Code to make the appropriate nav active
  var nav = '{{ page.category }}'
  if(nav != '')
    $('.' + nav ).addClass('active');

  // Check if working on development server
  var dev = false
  if ('{{ site.baseurl }}' != '/fc-review')
    dev = true;


  var code = '';
  if($.cookie('token') !== undefined){
    console.log("cookie worked!")
  }
  else
    console.log("cookie didn't work!")

  var github;
  if(window.location.href.split('?').length > 1){
    code = window.location.href.match(/\?code=(.*)/)[1];
    $('.btn').button()
    $('#gh-login').button('loading')
    
    var authUrl = dev ? 'http://localhost:9999' : 'http://gatekeeper-fc-review.herokuapp.com/'
    $.getJSON(authUrl + '/authenticate/'+code, function(data) {
      
     console.log(data.token);
     $.cookie('token', data.token);
     window.history.pushState("object or string", "Title", "{{ site.baseurl }}/")
     $.getJSON("https://api.github.com/user?access_token="+ data.token, function(data){
        

        $.cookie('user', data)
        $('#welcome-message').html('<a style="margin-right:5px;" href="'+$.cookie('user').html_url+'">'+$.cookie('user').login+'</a><a style="margin-right:5px;" href="'+$.cookie('user').html_url+'"><img width="34px" style="margin-right:5px;" height="34px" src="'+$.cookie('user').avatar_url+'"></a>').show()
        $('#gh-login').removeClass('btn-success').addClass('btn-danger').text('Log out').attr('title', 'Log out of Plan-It')
        console.log('showing username')
        $('#gh-login').button('reset').text('Log out')
        checkTeams()
        if($.cookie('return-href') !== undefined){
          window.location = $.cookie('return-href')
        }
     })


    });
  }
  var teams = [
  {
    "name": "Barrow",
    "id": 738687,
    "slug": "barrow",
    "permission": "pull",
    "url": "https://api.github.com/teams/738687",
    "members_url": "https://api.github.com/teams/738687/members{/member}",
    "repositories_url": "https://api.github.com/teams/738687/repos"
  },
  {
    "name": "Bartow",
    "id": 738688,
    "slug": "bartow",
    "permission": "pull",
    "url": "https://api.github.com/teams/738688",
    "members_url": "https://api.github.com/teams/738688/members{/member}",
    "repositories_url": "https://api.github.com/teams/738688/repos"
  },
  {
    "name": "Cherokee",
    "id": 738689,
    "slug": "cherokee",
    "permission": "pull",
    "url": "https://api.github.com/teams/738689",
    "members_url": "https://api.github.com/teams/738689/members{/member}",
    "repositories_url": "https://api.github.com/teams/738689/repos"
  },
  {
    "name": "Clayton",
    "id": 738690,
    "slug": "clayton",
    "permission": "pull",
    "url": "https://api.github.com/teams/738690",
    "members_url": "https://api.github.com/teams/738690/members{/member}",
    "repositories_url": "https://api.github.com/teams/738690/repos"
  },
  {
    "name": "Cobb",
    "id": 738691,
    "slug": "cobb",
    "permission": "pull",
    "url": "https://api.github.com/teams/738691",
    "members_url": "https://api.github.com/teams/738691/members{/member}",
    "repositories_url": "https://api.github.com/teams/738691/repos"
  },
  {
    "name": "Coweta",
    "id": 738692,
    "slug": "coweta",
    "permission": "pull",
    "url": "https://api.github.com/teams/738692",
    "members_url": "https://api.github.com/teams/738692/members{/member}",
    "repositories_url": "https://api.github.com/teams/738692/repos"
  },
  {
    "name": "DeKalb",
    "id": 738693,
    "slug": "dekalb",
    "permission": "pull",
    "url": "https://api.github.com/teams/738693",
    "members_url": "https://api.github.com/teams/738693/members{/member}",
    "repositories_url": "https://api.github.com/teams/738693/repos"
  },
  {
    "name": "Douglas",
    "id": 738694,
    "slug": "douglas",
    "permission": "pull",
    "url": "https://api.github.com/teams/738694",
    "members_url": "https://api.github.com/teams/738694/members{/member}",
    "repositories_url": "https://api.github.com/teams/738694/repos"
  },
  {
    "name": "Fayette",
    "id": 738695,
    "slug": "fayette",
    "permission": "pull",
    "url": "https://api.github.com/teams/738695",
    "members_url": "https://api.github.com/teams/738695/members{/member}",
    "repositories_url": "https://api.github.com/teams/738695/repos"
  },
  {
    "name": "Forsyth",
    "id": 738696,
    "slug": "forsyth",
    "permission": "pull",
    "url": "https://api.github.com/teams/738696",
    "members_url": "https://api.github.com/teams/738696/members{/member}",
    "repositories_url": "https://api.github.com/teams/738696/repos"
  },
  {
    "name": "Fulton",
    "id": 738697,
    "slug": "fulton",
    "permission": "pull",
    "url": "https://api.github.com/teams/738697",
    "members_url": "https://api.github.com/teams/738697/members{/member}",
    "repositories_url": "https://api.github.com/teams/738697/repos"
  },
  {
    "name": "Gwinnett",
    "id": 738698,
    "slug": "gwinnett",
    "permission": "pull",
    "url": "https://api.github.com/teams/738698",
    "members_url": "https://api.github.com/teams/738698/members{/member}",
    "repositories_url": "https://api.github.com/teams/738698/repos"
  },
  {
    "name": "Henry",
    "id": 738700,
    "slug": "henry",
    "permission": "pull",
    "url": "https://api.github.com/teams/738700",
    "members_url": "https://api.github.com/teams/738700/members{/member}",
    "repositories_url": "https://api.github.com/teams/738700/repos"
  },
  {
    "name": "Newton",
    "id": 738701,
    "slug": "newton",
    "permission": "pull",
    "url": "https://api.github.com/teams/738701",
    "members_url": "https://api.github.com/teams/738701/members{/member}",
    "repositories_url": "https://api.github.com/teams/738701/repos"
  },
  {
    "name": "Paulding",
    "id": 738702,
    "slug": "paulding",
    "permission": "pull",
    "url": "https://api.github.com/teams/738702",
    "members_url": "https://api.github.com/teams/738702/members{/member}",
    "repositories_url": "https://api.github.com/teams/738702/repos"
  },
  {
    "name": "Rockdale",
    "id": 738703,
    "slug": "rockdale",
    "permission": "pull",
    "url": "https://api.github.com/teams/738703",
    "members_url": "https://api.github.com/teams/738703/members{/member}",
    "repositories_url": "https://api.github.com/teams/738703/repos"
  },
  {
    "name": "Spalding",
    "id": 738704,
    "slug": "spalding",
    "permission": "pull",
    "url": "https://api.github.com/teams/738704",
    "members_url": "https://api.github.com/teams/738704/members{/member}",
    "repositories_url": "https://api.github.com/teams/738704/repos"
  },
  {
    "name": "Walton",
    "id": 738705,
    "slug": "walton",
    "permission": "pull",
    "url": "https://api.github.com/teams/738705",
    "members_url": "https://api.github.com/teams/738705/members{/member}",
    "repositories_url": "https://api.github.com/teams/738705/repos"
  }
]

  github = new Github({
      token: $.cookie('token'),
      auth: "oauth"
     })
  if ($.cookie('token') !== undefined){
    $('#welcome-message').html('<a style="margin-right:5px;" href="'+$.cookie('user').html_url+'">'+$.cookie('user').login+'</a><a style="margin-right:5px;" href="'+$.cookie('user').html_url+'"><img width="34px" style="margin-right:5px;" height="34px" src="'+$.cookie('user').avatar_url+'"></a>').show()
    $('#gh-login').removeClass('btn-success').addClass('btn-danger').text('Log out').attr('title', 'Log out of Plan-It')
     // get list of teams
    // $.getJSON("https://api.github.com/orgs/atlregional/teams?access_token="+$.cookie('token'), function(data){
    //   // store teams object in a cookie? YES
    //   $.cookie('teams', data)
    //   console.log(data)
    // })
    
    checkTeams()
    
  }


  $('#gh-view').click(function(){
    window.location='https://github.com/{{ site.githubuser }}/plan-it'
  })
  $('#gh-login').click(function(){
    if($(this).hasClass('btn-success')){
      // $.cookie('return-href', window.location.href)
      // setTimeout(function(){
        var client_id = dev ? '2bd555487ef16b607509' : 'a37cadae6a1f4bdd4237'
        var params = '?response_type=code&client_id=' + client_id + '&scope=repo'
        window.location =  'https://github.com/login/oauth/authorize' + params 
      // }, 250)
      
    }
    else{
      window.location='{{ site.baseurl }}/'
      $.removeCookie('user', { path: '{{ site.baseurl }}' })
      $.removeCookie('token', { path: '{{ site.baseurl }}' })
      $('#welcome-message').hide()
      $('#gh-login').removeClass('btn-danger').addClass('btn-success').text('Log in').attr('title', 'Log in with GitHub')
      // window.location = '{{ site.baseurl }}/'
      
    }

  })
</script>