<script type="text/javascript"> if (!window.console) console = {log: function() {}}; </script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/lib/javascripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/lib/javascripts/jquery.cookie.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>

<script src="{{ site.baseurl }}/bower_components/momentjs/min/moment.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/accounting.min.js"></script>

<script src="{{ site.baseurl }}/lib/javascripts/showdown.js"></script>

<script src="{{ site.baseurl}}/lib/javascripts/base64.js"></script>

<!-- Bower componenents -->
<script type="text/javascript" src="{{ site.baseurl }}/bower_components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/bower_components/backbone/backbone-min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/bower_components/backgrid/lib/backgrid.min.js"></script>
<!-- <script type="text/javascript" src="{{ site.baseurl }}/bower_components/backgrid/lib/extensions/select-all/backgrid-select-all.min.js"></script> -->
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/backgrid/lib/backgrid.min.css" />

<script type="text/javascript" src="{{ site.baseurl }}/lib/javascripts/github.js"></script>

<!-- Custom styles for this template -->
<link href="{{ site.baseurl}}/lib/css/sticky-footer-navbar.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/lib/css/l.geosearch.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/lib/css/missing.bootstrap.css" />
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{{ site.baseurl}}/stylesheets/styles.css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
<script src="{{ site.baseurl}}/lib/javascripts/leaflet.label.js"></script>

<script src="{{ site.baseurl}}/lib/javascripts/geosearch/l.control.geosearch.js"></script>
<script src="{{ site.baseurl}}/javascripts/utils.js"></script>

<script src="{{ site.baseurl}}/lib/javascripts/geosearch/l.geosearch.provider.openstreetmap.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-46177443-1");
        pageTracker._trackPageview();
        } catch(err) {}
</script>