---
layout: default
---
{{content}}
<link rel="stylesheet" href="{{ site.baseurl}}/lib/css/subnav.css" type="text/css" />
<link rel="stylesheet" href="{{ site.baseurl}}/lib/css/pivot.css" type="text/css" />
<link rel="stylesheet" href="{{ site.baseurl}}/lib/css/jquery.dataTables.css" type="text/css">
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/subnav.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jspdf/jspdf.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jspdf/adler32.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jspdf/Deflate.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jspdf/jspdf.plugin.from_html.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jspdf/jspdf.plugin.standard_fonts_metrics.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jspdf/jspdf.plugin.cell.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jspdf/jspdf.plugin.split_text_to_size.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/jspdf/jspdf.plugin.sillysvgrenderer.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/lib/javascripts/filesaver/filesaver.js"></script>

<!-- jquery_pivot must be loaded after pivot.js and jQuery -->
<script type="text/javascript" src="{{ site.baseurl}}/pivot.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/jquery_pivot.js"></script>
<script src="{{ site.baseurl}}/javascripts/plan_pivot.js"></script>
